.container{
    position: absolute;
    top: 100px;
    left: 200px;
}
.game-screen{
    position: relative;
    width: 800px;
    height: 500px;
    border: 2px solid black;
    border-radius: 20px;
}
.player{
    position: absolute;
    width: 50px;
    height: 50px;
    background: black;
    bottom: 10px;
    left: 369px;
    transition: .2s linear;
}
.ai{
    position: absolute;
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50px;
}
.damage{
    opacity: .5;
}
.bullet{
    position: absolute;
    width: 10px;
    height: 10px;
    background: blue;
    border-radius: 50px;
    transition: 2s linear;
    z-index: -2;
}
.player-bullet{
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgb(60, 255, 0);
    border-radius: 50px;
    z-index: -2;

}
.start_button{
    position: absolute;
    left: 300px;
    top: 600px;
}